{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<h2>Ändra användare</h2>
<p>Lämna lösenord tomt för att behålla gamla!</p>

<form method="post">
      <input type="text" name="username" value="{{ user['username'] }}" required>
      <input type="password" name="password" placeholder="Nytt lösenord">
      <label><input type="checkbox" name="admin" {% if user['admin'] %}checked{% endif %}>Admin</label>
      <button type="submit">Spara</button>
      <a href="{{ url_for('admin_index') }}">Avbryt</a>
</form>
{% endblock %}