{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
<h1>Administratörspanel</h1>

<p>Inloggad som: <strong>{{ session.username }}</strong></p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Användarnamn</th>
            <th>Admin?</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>
                {% if user.admin %}
                    ✔ Ja
                {% else %}
                    ✖ Nej
                {% endif %}
            
            <td>
                <a href="{{ url_for('admin_edit_user', user_id=user['id']) }}">Ändra</a>
                <form method="POST" action="{{ url_for('admin_delete_user', user_id=user['id']) }}">
                    <button type="submit">Radera</button>
                </form>
            </td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}