<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Hem</a>
        <a href="{{ url_for('login')}}">Logga in</a>
    </nav>

    <main>{% block content %}{% endblock %}</main>

    <footer>
        <p>&copy; {{ current_year if current_year is defined else "2025" }} Projekt HT25</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>