{% extends "base.html" %}

{% block title %}Hem - Recept-databas{% endblock %}

{% block content %}
    <h1>Välkommen till Recept-databasen!</h1>
    <p>Här kan du hitta och dela dina favorit recept.</p>

    <form method="POST" action="{{ url_for('recipe') }}" aria-label="Lägg till recept" class="form-recipe">
        <div class="form-group">
            <h2>Recept namn</h2>
            <input id="recipe" class="input" type="text" name="recipe" placeholder="Ange receptnamn" required aria-required="true">
        </div>
        <div class="form-group">
            <h2>Ingredienser</h2>
            <textarea name="ingredients" id="ingredients" class="input" placeholder="Lägg in ingredienser"></textarea>
        </div>
        <div class="form-group">
            <h2>Kalorier</h2>
            <input name="calories" type="text" id="calories" class="input" placeholder="Ange kalorier">
        </div>
        <button type="submit" class="btn btn-add">Lägg till</button>
    </form>

{% endblock %}

<!--
<input id="recipe" class="input" type="text" name="recipe" placeholder="Skapa recept" required aria-required="true">
        <textarea name="ingredients" id="ingredients" class="input" placeholder="Lägg in ingredienser"></textarea>
        <input name="calories" type="text" id="calories" class="input" placeholder="Kalorier">        
-->